.work-title {
  /* border: 1px solid red; */
  font-family: "Satoshi-Variable", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-style: normal;
  text-align: left;
  padding-left: 1vw;
  /* max-width: calc(100% - 13vw); */
  /* box-sizing: border-box; */
  font-size: clamp(50px, 12.6vw, 13vw);
  /* font-size: 12.6vw; */
  white-space: nowrap;
}

.work-grid {
  /* border: 1px solid red; */
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 40px;
  grid-column-gap: 40px;
  grid-auto-flow: row;
  margin-top: 15%;
  /* margin-left: 7vw;
    margin-right: 7vw; */
  /* gap: 2vw;
    padding: 2vw; */
  /* justify-items: center; */
}

.project-link {
  text-decoration: none;
  max-width: 100%;
  display: inline-block;
  box-sizing: border-box;
}

.work-item {
  /* border: 1px solid red; */
  display: inline-block;
  /* display: flex; */
  /* justify-content:stretch; */
  /* align-items: center; */
  overflow: hidden;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.project-container {
  /* border: 1px solid red; */
  opacity: 0;
  padding: 40px;
  transition: opacity 0.3s;
  text-decoration: none;
  text-align: left;
  color: #faf5ed;
  font-family: "Satoshi-Variable", sans-serif;
}

.project-container:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.65);
}

.project-header {
  /* border: 1px solid red; */
  font-size: 2vw;
  width: 100%;
  position: relative;
}

.project-title {
  font-size: 1vw;
  padding-top: 300px;
}

.project-description {
  font-size: 1vw;
  opacity: 0.65;
  /* margin-top: 10px; */
}

.work-item.leidos {
  background-image: url(../images/leidos.png);
}

.work-item.align {
  background-image: url(../images/align.jpg);
}

.work-item.minecraft {
  background-image: url(../images/minecraft.jpg);
}

.work-item.john-deere {
  background-image: url(../images/john-deere.jpg);
}

@media screen and (max-width: 700px) {
  .work-grid {
    /* border: 1px solid red; */
    grid-template-rows: 1fr auto auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 2px;
  }
}
