.navbar {
  background-color: #131113;
  font-family: 'Cabinet Grotesk Variable', sans-serif;
  position: fixed;
  top: 0;
  bottom: auto;
  left: 0%;
  right: 0%;
  z-index: 1000;
}

div {
  display: block;
}

.container {
  object-fit: none;
  width: auto;
  margin-left: 40px;
  margin-right: 40px;
  display: inline;
  position: relative;
}

.w-cont {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.navlink {
  color: var(--text, #faf5ed);
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  font-family: 'Cabinet Grotesk Variable';
  padding: 5px, 40px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}