.project-page-title {
  /* border: 1px solid red; */
  font-family: "Satoshi-Variable", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-style: normal;
  text-align: left;
  /* padding-left: 1vw; */
  /* max-width: calc(100% - 13vw); */
  /* box-sizing: border-box; */
  font-size: clamp(50px, 12.6vw, 13vw);
  /* font-size: 12.6vw; */
  white-space: nowrap;
}

