body {
  margin: 0;
  /* font-family: 'Arial', sans-serif; */
  color: #faf5ed;
  background-color: #131113;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-left: var(--space-lg);
  padding-right: var(--space-lg);
}

.m-main {
  /* border: 1px solid red; */
  /* text-align: center; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7vw;
}

.m-intro {
  /* border: 1px solid red; */
  text-align: center;
  font-family: "Satoshi-Variable", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-style: normal;
  /* margin: 0; */
  /* max-width: calc(100% - 13vw); */
  /* box-sizing: border-box; */
  font-size: clamp(30px, 12.6vw, 13vw);
  /* font-size: 12.6vw; */
  white-space: nowrap;
}

.m-tagline {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-family: "CabinetGrotesk-Variable", sans-serif;
  font-size: clamp(18px, 1.4vw, 2vw);
}

.m-tagline-text {
  opacity: 0.65;
  padding-left: 1vw;
}

.m-highlight {
  /* border: 1px solid red; */
  font-weight: bold;
  opacity: 1;
  padding-left: 1vw;
}



/* @media screen and (max-width: 480px) {
  .footer {
    grid-row-gap: 35px;
    grid-template-columns: 2fr;
    margin: 20px 15px 100px;
    padding-bottom: 100px;
  }

  .footer-left {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-center {
    text-align: center; 
  }

  .footer-right {
    text-align: center;
  }
} */
